#checkout-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 14px 0; */
}

#button-wrapper {
  width: 90%;
  max-width: 400px;
}

#checkout-button {
  text-align: center;
  padding: 14px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #74ff9e;
  background-color: #3c0099;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: block;
}

#checkout-button:hover {
  background-color: #74ff9e;
  color: #3c0099;
}
