#course-progress-card {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 225px;
  height: 256px;
}

#course-progress-card header {
  /* Course Progress */

  width: 225px;
  height: 24px;

  /* Gamed H6/Medium */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  text-align: center;

  /* Primary black */
  color: #323132;
}
