#forgotPassword-form-fieldset {
  text-align: center;
  padding: 0 1%;
  border: none;
}

#forgotPassword-form-fieldset legend {
  /* Create Account */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  color: #323132;
  /* margin: 0 0 56px 0; */
}

#forgotPassword-form-fieldset h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #323132;
}

#password-layout-form {
  display: grid;
  grid-template-columns: 60%;
  grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#password-form-container {
  margin-top: 20px;
}

#submit-button-wrapper {
  width: 550px;
  max-width: 100%;
  margin: 7px;
}

#redirect-to-checkout {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #323132;
  margin: 8px 0;
}

#redirect-to-checkout a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  text-decoration: none;
  /* Pri/1001 */
  color: #3c0099;
}

#redirect-to-checkout a:hover {
  color: #4fba6f;
}

/* For laptop screens (less than 1440px) */
/* @media only screen and (max-width: 1440px;) {
  #create-account-fieldset legend {
  }
  #create-account-form {
  }
  #redirect-to-log-in {
  }
  #redirect-to-log-in span {
  }
  #create-acc-button-wrapper {
  }
  #or-wrapper {
  }
  #or-wrapper p {
  }
} */
