/* Section A */
#landing-footer-header {
  /* What Other Players are Saying */

  text-align: center;

  /* Sec/GamedH3/semibold */
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 600;
  font-size: 39.06px;
  line-height: 47px;
  padding: 50px;

  /* Primary black */
  color: #323132;
}

#footer-comment-card-container{
  width: 100vw;
  display: grid;
  grid-auto-flow: row;
  justify-content: space-evenly;
}

#footer-comment-card {
  /* White color */
  
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto;
  background: #fefdff;
  border-style: solid;
  border-color: #3c0099;
  border-right-width: 15px;
  border-bottom-width: 15px;
  border-radius: 24px;
  width: 400px;
  height: 350px;
  justify-items: space-evenly;
}

#footer-comment-card img{
  grid-row: 1/span 2;
  grid-column: 1;
  padding: 20px;
}

#footer-comment-card-title {
  grid-row: 1;
  grid-column: 2;
  /* Gamed H4/Medium */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 31.25px;
  line-height: 38px;
  padding: 20px;

  /*   Primary black */
  color: #323132;
}

#footer-comment-card-content {
  /* Learning feels like an adventure. The challenges, rewards, and interactive lessons keep me hooked. Best way to level up my skills! */
  grid-row: 3;
  grid-column: 1/span 2;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding: 20px;

  /* Primary black */
  color: #323132;
}

/* Section B */
#footer-background {
  align-content: center;
  bottom: -50px;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 500px;
  background: #3c0099;
  border-radius: 0px 0px 0 0;

  background-image: repeating-radial-gradient(
    circle,
    #74ff9e0d 0%,
    /* Center, almost transparent */ #74ff9e0d 5px,
    /* 1st ring, almost transparent */ transparent 8px,
    transparent 15px,
    /* Space between 1st and 2nd ring */ #74ff9e26 10px,
    /* 2nd ring, slightly more opaque */ #74ff9e26 12px,
    transparent 20px,
    transparent 22px,
    /* Space between 2nd and 3rd ring */ #74ff9e3f 15px,
    /* 3rd ring, more opaque */ #74ff9e3f 20px,
    transparent 30px,
    transparent 75px,
    /* Space between 3rd and 4th ring */ #74ff9e80 25px,
    /* 4th ring, the thickest */ #74ff9e80 35px
  );

  background-size: 120px 120px;
  background-position: 0px 30px;
}

#footer-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px;
  background: #320080;
  border-radius: 24px;
}

#footer-contacts p {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fefdff;
}

#footer-contacts header {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  color: #fefdff;
  padding: 20px;
}

#footer-contacts-location {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 50px 1fr;
}

#logo-footer {
  grid-row: 1;
  grid-column: 1 / span 2;
  align-self: center;
}

#locationIcon-logo {
  grid-row: 2;
  grid-column: 1;
  align-self: center;
  justify-self: center;
}

#locationIcon-logo-content {
  grid-row: 2;
  grid-column: 2;
  justify-self: start;
  align-self: center;
}

#teleIcon-logo {
  grid-row: 3;
  grid-column: 1;
  align-self: center;
  justify-self: center;
}
#teleIcon-logo-content {
  grid-row: 3;
  grid-column: 2;
  align-self: center;
}

#emailIcon-logo {
  grid-row: 4;
  grid-column: 1;
  align-self: center;
  justify-self: center;
}

#emailIcon-logo-content {
  grid-row: 4;
  grid-column: 2;
  align-self: center;
  justify-self: start;
}

#footer-contacts-links {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

#quick-links {
  margin: 20px 0;
  padding: 0 !important;
  align-self: center;
  justify-self: center;
}

#footer-cta {
  text-align: center;
  justify-items: center;
  padding: 20px 0 0 0;
}

#footer-cta h2 {
  /* Learn a skill on Gamed today, come join the fun! */

  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  font-size: 39.06px;
  line-height: 47px;

  /* Primary black */
  color: #323132;
}

#footer-cta button {
  /* Primary button 2 */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  gap: 12px;
  cursor: pointer;
  width: 400px;
  height: 50px;

  background: #3c0099;
  box-shadow: 8px 8px 16px -6px rgba(190, 194, 191, 0.4),
    2px 4px 6px -2px rgba(132, 136, 133, 0.25);
  border-radius: 15px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  text-align: center;
  text-transform: capitalize;

  color: #74ff9e;
}
