.onboarding-page-wrapper {
  /* set to fill screen */
  display: grid;
  grid-template-rows: 1fr;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#left-section {
  /* Purple half of the page */
  background-color: #3c0099;
  grid-column: 1 / span 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#right-section {
  /* White half of the page */
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
}

.text-wrapper {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 24px;
  max-width: 599px;
  max-height: 128px;
  grid-column: 1;
  grid-row: 1;
}

.onboarding-card-wrapper {
  grid-column: 1;
  grid-row: 2;
}

#onboarding-article-header {
  /* Welcome */

  margin: 0 auto;
  max-width: 599px;
  max-height: 74px;

  /* Gamed H1/Semibold */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 3.8125rem;
  line-height: 4.6rem;
  /* identical to box height, or 120% */
  text-align: center;

  /* Adding background image */
  color: transparent; /* Make the text color transparent */
  background-image: url("../assets/images/WelcomeImage.jpeg"); /* Path to your image */
  background-size: contain; /* Adjust as needed: contain, repeat, etc. */
  background-position: center; /* Adjust as needed */
  -webkit-background-clip: text; /* For WebKit browsers (Chrome, Safari) */
  background-clip: text; /* Standard syntax */
  -webkit-text-fill-color: transparent; /* For older WebKit versions */
}

#onboarding-article-text {
  /* Your learning adventure is just about to take off! */

  margin: 0 auto;
  max-width: 599px;
  max-height: 30px;

  /* Gamed H5/reg */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.875rem;
  /* identical to box height, or 120% */
  text-align: center;

  /* Primary black */
  color: #323132;
}

#onboarding-logo {
  margin-top: 90px;
}

/* Styles for tablets and phones (screen greater than 320px) */
@media only screen and (min-width: 320px) and (max-width: 374px){
  .onboarding-page-wrapper {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  #left-section {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #right-section {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: 140px 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .text-wrapper {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    padding: 0;
    height: 140px;
  }
  #onboarding-article-header {
    font-size: 2rem;
    height: 60px;
    line-height: 4rem;
  }
  #onboarding-article-text {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    height: 65px;
  }
  #onboarding-logo {
    margin-top: 0px;
  }
  .rotating-slide-cards-container {
    grid-column: 1;
    grid-row: 2;
    left: -5% !important;
    top: 2% !important;
  }
}

/* Styles for tablets and phones (screen greater than 375px) */
@media only screen and (min-width: 375px) and (max-width: 424px) {
  .onboarding-page-wrapper {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  #left-section {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #right-section {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: 140px 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .text-wrapper {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    padding: 0;
    height: 140px;
  }
  #onboarding-article-header {
    font-size: 2rem;
    height: 60px;
    line-height: 4rem;
  }
  #onboarding-article-text {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    height: 65px;
  }
  #onboarding-logo {
    margin-top: 0px;
  }
  .rotating-slide-cards-container {
    grid-column: 1;
    grid-row: 2;
    left: -5% !important;
    top: 2% !important;
  }
}

/* Styles for tablets (screen greater than 425px) */
@media only screen and (min-width: 425px) and (max-width: 767px){
  .onboarding-page-wrapper {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  #left-section {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #right-section {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: 140px 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .text-wrapper {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    padding: 0;
    height: 140px;
  }
  #onboarding-article-header {
    font-size: 2rem;
    height: 60px;
    line-height: 4rem;
  }
  #onboarding-article-text {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    height: 65px;
  }
  #onboarding-logo {
    margin-top: 20px;
  }
  .rotating-slide-cards-container {
    grid-column: 1;
    grid-row: 2;
    left: -5% !important;
    top: 2% !important;
  }
}

/* Styles for tablets (screen greater than 768px) */
@media only screen and (min-width: 768px) and (max-width: 800px){
  .onboarding-page-wrapper {
    display: grid;
    grid-template-columns:170px 1fr;
    grid-template-rows: 1fr;
  }
  #left-section {
    grid-column: 1;
    grid-row: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  #right-section {
    grid-column: 2;
    grid-row: 1;
  }
  #text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    padding: 0;
    height: 140px;
  }
  #onboarding-article-header {
    font-size: 2.5rem;
    height: 60px;
    line-height: 4rem;
  }
  #onboarding-article-text {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5rem;
    height: 60px;
  }
  #onboarding-logo{
    margin-top: 65px;
  }
  .rotating-slide-cards-container {
    grid-column: 1;
    grid-row: 2;
    left: -15% !important;
    top: 2% !important;
  }
}

/* Styles for laptops (screen width up to 1024px) */
@media screen and (max-width: 1024px) and (min-width: 800px){
  
  .rotating-slide-cards-container {
    left: -27% !important;
    top: 2% !important;
  }
}

/* Styles for 4K screens (screen greater than 2500px) */
@media screen and (min-width: 2500px) {
  #right-section {
    grid-template-rows: 300px 1fr;
  }
  #onboarding-article-header {
    font-size: 6rem;
    height: 90px;
    padding: 20px;
    line-height: 6rem;
  }
  #onboarding-article-text {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    height: 100px;
    width: 700px !important;
  }
  #onboarding-logo{
    margin-top: 205px;
    width: 30%;

  }
  .rotating-slide-cards-container {
    grid-column: 1;
    grid-row: 2;
    left: -55% !important;
    top: 2% !important;
    width: 150%;
  }
}
